*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    margin-bottom: 60px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
    
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

h2>a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

h1{
    text-align: center;
}
article{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 10px;

}

article img{
    border-radius: 5px;
}

.container-articles{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.page404{
    font-size:80px;
    text-transform: uppercase;
}

.articles{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cat{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: darkcyan;
    border-radius: 10px;
}