{% extends 'base.twig' %}

{% block content %}
  <h2>
    Panneau d'administration
  </h2>
  <ul class="link-admin">
    <li><a href="/?action=admin_articles">Administrer les articles</a></li>
    <li><a href="/?action=admin_categories">Administrer les catégories</a></li>
    <li><a href="/?action=admin_users">Administrer les utilisateurs</a></li>
  </ul>

  {% block article %}

  {% endblock %}
{% endblock %}
