{% extends 'base.twig' %}

{% block header %}
  <header>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/?action=posts">Blog</a></li>
        <li><a href="/?action=all_categories">Catégories</a></li>
      </ul>
    </nav>
  </header>
{% endblock %}
